// colors 
$color-base: #5dbcbc;
$color-base-hover:#428a8a;
$color-bg: #F2F2F2;
$color-light:#fff;
$color-dark:#212427;

// fonts 
$font-title:'Raleway', sans-serif;
$font-text:'Roboto', sans-serif;


// sizes
$container-width:80%;
$screen-mobile:480px;
$screen-tablet:768px;
$screen-laptop:1024px;
$screen-desktop:1200px;
